<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       >

    <bean id="xml1" class="kr.co.softcampus.beans.TestBean" lazy-init="true">
        <constructor-arg value="100" type="int" index="0"/>
        <constructor-arg value="문자열" index="1"/>
        <constructor-arg ref="data_bean" />
    </bean>

    <bean id="xml11" class="kr.co.softcampus.beans.TestBean" lazy-init="true">
        <property name="intData1" value="300"/>
        <property name="stringData2" value="문자열3"/>
        <property name="dataBean3" ref="data_bean"/>
    </bean>

    <bean id="data_bean" class="kr.co.softcampus.beans.DataBean" />

    <bean id="data11" class="kr.co.softcampus.beans.DataBean2" />
    <bean id="data22" class="kr.co.softcampus.beans.DataBean2" />

    <bean id="xml2" class="kr.co.softcampus.beans.TestBean2" lazy-init="true"/>

    <bean id="xml3" class="kr.co.softcampus.beans.TestBean2" lazy-init="true" autowire="byName"/>

    <bean class="kr.co.softcampus.beans.DataBean3"/>

    <bean id="xml4" class="kr.co.softcampus.beans.TestBean3" autowire="byType"/>


</beans>